<div class="document-card">
    <div class="document-card-number" data-id="<%= element['ID'] %>">
        <%= element['ID'] %>
    </div>

    <div class="document-card-metadata" data-id="<%= element['ID'] %>">
        <p><span>Classification:</span>
            <%= element['Classification'] %>
        </p>
        <p><span>Discipline:</span>
            <%= element['Discipline'] %>
        </p>
        <p><span>Source:</span>
            <%= element['Source'] %>
        </p>
        <p><span>Description:</span>
            <%= element['Description'] %>
        </p>
    </div>

    <div class="document-srm" data-id="<%= element['ID'] %>">
        <div class="document-srm-first-row">
            <div class="attempts-summary">
                <dt>Attempts Summary</dt>
                <dd>
                    <%= element['SRME']['Total Attempts'] %> -
                        <span class="woh-text">
                            <%= element['SRME']['Attempts Without Help'] %>
                        </span> -
                        <span class="wh-text">
                            <%= element['SRME']['Attempts With Help'] %>
                        </span>
                </dd>
            </div>

            <div class="LAS">
                <dt>LAS</dt>
                <dd>
                    <% let lasClass='' ; if (element['SRME']['LAS']==='Without Help' ) { lasClass='woh-text' ; } else if
                        (element['SRME']['LAS']==='With Help' ) { lasClass='wh-text' ; } %>
                        <span class="<%= lasClass %>">
                            <%- element['SRME']['LAS'] ?? '&nbsp;' %>
                        </span>
                </dd>
            </div>
        </div>

        <div class="document-srm-second-row">
            <div class="DSLA">
                <dt>DSLA</dt>
                <dd>
                    <%- element['SRME']['DSLA'] ?? '&nbsp;' %>
                </dd>
            </div>
            <div class="LaMI">
                <dt>LaMI</dt>
                <dd>
                    <%- element['SRME']['LaMI'] ?? '&nbsp;' %>
                </dd>
            </div>
        </div>

        <div class="document-srm-third-row">
            <div class="PMG-D">
                <dt>PMG-D</dt>
                <dd>
                    <%- element['SRME']['PMG-D'] ?? '&nbsp;' %>
                </dd>
            </div>
            <div class="PMG-X">
                <dt>PMG-X</dt>
                <dd>
                    <%- element['SRME']['PMG-X'] ?? '&nbsp;' %>
                </dd>
            </div>
        </div>
    </div>

    <div class="open-at-vscode" data-id="<%= element['ID'] %>">
        <img src='/icons/vscode.svg' alt="VSCode Logo" />
        <span id="openAtVSCodeSpan">Open at VSCode</span>
    </div>
</div>